@import './components/Edit/Edit.less';
@import './components/View/View.less';

@--color-primary: #eb2f64;
@--color-primary-light: #FF3366;
@--color-primary-dark: #BA265D;

@--color-grey-light-1: #faf9f9;
@--color-grey-light-2: #f4f2f2;
@--color-grey-light-3: #f0eeee;
@--color-grey-light-4: #ccc;

@--color-grey-dark-1: #333;
@--color-grey-dark-2: #777;
@--color-grey-dark-3: #999;

@--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
@--shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

@--line: 1px solid @--color-grey-light-2;

@--left-container-width: 50%;
@--left-container-header-height: 9rem;

.mixin-dashed-border {
  height: 100%;
  border: 2px dashed @--color-grey-light-4;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: @--color-grey-dark-2;
  background-image: linear-gradient(to right bottom, @--color-primary-light, @--color-primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 1rem;
}

.container {
  max-width: 70rem;
  margin: 4rem auto;
  background-color: @--color-grey-light-1;
  box-shadow: @--shadow-dark;
  height: 50rem;
  display: flex;
}

.view {
  width: @--left-container-width;
}

.view-header {
  font-size: 20px;
  height: @--left-container-header-height;
  background-color: #fff;
  border-bottom: @--line;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: @--shadow-light;

  >div:first-child {
    max-width: 40%;
  }
}

.view-header-title {
  margin-bottom: .3rem;
}

.view-header-title-create {
  button {
    margin-left: 10px;
  }
}

.view-header-select {
  display: grid;
  grid-gap: 1rem;
}

.view-header-divider {
  width: 2px;
  height: 100%;
  background-color: @--color-grey-light-3;
}

.view-content {
  height: calc(100% - @--left-container-header-height);
  padding: 1.5rem;
}

.view-content-main,
.edit-content-main {
  .mixin-dashed-border();
  position: relative;
  padding: 20px;
}

.edit {
  width: calc(100% - @--left-container-width);
  padding: 1.5rem;
}

.bg-text {
  position: absolute;
  top: 42%;
  left: 35%;
  font-size: 30px;
  color: @--color-grey-light-4;
}

.bg-text-add {
  .bg-text();
  left: 40%;
}