.export-json {
  margin-top: 20px;
}

.edit-content-main-items {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
  overflow-y: auto;

  >div {
    padding: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
      border: 1px solid rgba(0, 0, 0, .1);
    }

    &:last-child {
      display: grid;
      grid-gap: 1rem;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.edit-dropdown {
  input {
    margin-bottom: 1rem;
  }
}

.edit-radio {
  .edit-dropdown();
}

.edit-moving-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}